html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: "#f1f5f9";
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formLabel {
  width: 5em;
}
