.largeForm {
  .templifyForm {
    display: flex;
    flex-wrap: wrap;
    .templifyFormItem {
      width: 33%;
      padding: 0 10px;
      .formLabel {
        width: 6em;
      }
    }
  }
  .ant-btn.isActive {
    background-color: color-mix(in srgb, #fff 0%, var(--color-primary) 60%);
  }
}
